@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Raleway:wght@300;400;500;600;700&display=swap");

:root {
  --clr-primary: #cf9c46;
  --clr-secondary: #becf46;
  --clr-tertiary: #cf5846;
  --clr-accent-1: #94c60a;
  --clr-accent-2: #552049;
  --clr-hover-1: #755cde;
  --clr-hover-2: #f6a560;
  --clr-hover-3: #7a746e;
  --clr-white: #ffffff;
  --clr-black: #000;
  --clr-light: #989697;

  --ff-body: "Raleway", sans-serif;
  --ff-button: "Oswald", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

ul {
  margin: 0;
}

/* set up the body */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-black);
  background-color: var(--clr-white);
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */
.primary-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.secondary-heading {
  font-size: 16px;
  font-weight: 700px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.mt-24 {
  margin-top: 24px;
}

.button {
  padding: 8px 20px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #fff;
}

@media only screen and (min-width: 768px) {
  .primary-heading {
    font-size: 36px;
  }

  .secondary-heading {
    font-size: 18px;
  }
}

/* Main css */
.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 24px;
}

@media (min-width: 768px) {
  .container {
    padding: 39px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 71px 165px;
  }
}

.header {
  position: relative;
  min-height: 100vh;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("assets/forest.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
}

.header > * {
  z-index: 10;
}

.header__logo {
  color: var(--clr-white);
  font-family: "Oswald", sans-serif;
  line-height: 1;
  font-size: 24px;
  text-align: center;
}

.header__logo a {
  color: var(--clr-white);
  text-decoration: none;
}

.header__logo a span {
  color: var(--clr-primary);
}

.header-menu {
  font-family: "Oswald", sans-serif;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
}

.main-menu ul li {
  color: var(--clr-white);
  font-size: 18px;
  list-style-type: none;
}

.main-menu ul li a {
  color: var(--clr-white);
  text-decoration: none;
}

.main-menu ul li a:hover {
  color: var(--clr-primary);
}

.header-container {
  padding: 30px 0;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.header__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__heading {
  font-size: 30px;
  line-height: 1;
  padding-top: 24px;
  font-weight: bold;
  color: #fff;
}

.header__subheading {
  padding: 18px 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--clr-primary);
  border-top: 1px solid var(--clr-light);
  border-bottom: 1px solid var(--clr-light);
}

.header__description {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  padding: 0;
  gap: 16px;
  color: var(--clr-white);
}

.header__button {
  color: #fff;
  background: var(--clr-primary);
}

.header__button:hover {
  background: var(--clr-secondary);
}

@media only screen and (max-width: 480px) {
  .main-menu {
    display: none !important  ;
  }
}

@media only screen and (min-width: 768px) {

  .header-container {
    padding: 60px 0;
  }

  .header__logo {
    text-align: left;
  }

  .header__content {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 60px;
  }

  .header-menu {
    justify-content: space-between;
  }

  .header__text-box {
    flex: 0 1 auto;
    align-items: start;
  }

  .header__heading {
    font-size: 88px;
    font-size: 6vw;
    padding: 0;
  }

  .header__subheading {
    font-size: 13px;
    font-size: 2vw;
  }

  .header__description {
    font-size: 18px;
    padding: 0 30% 0 0;
    text-align: left;
  }

  .header__image-box {
    flex: 0 1 auto;
  }

  .header__image {
    width: 100%;
    height: auto;
    border-radius: 2px;
  }
}

.book__text-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.book__subheading span {
  color: var(--clr-tertiary);
}

.author {
  color: var(--clr-white);
  background-color: var(--clr-tertiary);
  border: none;
}

.author__text-box {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.author__heading {
  color: var(--clr-white);
}

.author__subheading {
  color: var(--clr-secondary);
}

.author__button {
  background: var(--clr-secondary);
}

.author__button a {
  color: var(--clr-white);
  text-decoration: none;
}

.author__button a:hover {
  color: var(--clr-black);
}

/* Testimonials */
.previous-testimonials {
  background-color: var(--clr-white);
}

.testimonial__heading {
  color: var(--clr-black);
}

.testimonial__subheading {
  color: var(--clr-black);
}

.testimonial__subheading span {
  color: var(--clr-tertiary);
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
}

@media (min-width: 1440px) {
  .row {
    display: grid;
    grid-template: 282px 266px / 350px 350px 350px;
    gap: 30px;
  }
}

.grid-item {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

@media (min-width: 976px) {
  .grid--one {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .grid--two {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .grid--five {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }

  .grid--three {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .grid--four {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
}

.testimonials {
  padding: 26px 32px 32px 32px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
  border-radius: 8px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.testimonial--1 {
  position: relative;
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.testimonial--1::after {
  position: absolute;
  content: "";
  width: 104px;
  height: 102px;
  right: 24px;
  top: 0px;
  background-image: url("/images/bg-pattern-quotation.svg");
  color: var(--clr-secondary);
  z-index: 1;
}

.testimonial--1__content {
  position: relative;
  z-index: 10;
}

.testimonial--2 {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.testimonial--3 {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.testimonial--4 {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.testimonial--5 {
  background-color: var(--clr-light);
  color: var(--clr-secondary-2);
}

.person {
  z-index: 20;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.person__image {
  border-radius: 9999px;
  border: 2px solid #a775f1;
}

.person__image.person--2__image {
  border: none;
}

.person__info h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
}

.person__info p {
  opacity: 0.5;
  font-size: 11px;
  line-height: 11px;
}

.feedback--main { 
  margin-top: 18px;
}

.feedback--sub {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin-top: 16px;
}

.feedback--sub.feedback--1 {
  color: #cfcfcf;
  margin-top: 40px;
}

@media (min-width: 976px) {
  .feedback--sub.feedback--1 {
    margin-top: 16px;
  }
}

.feedback--sub.feedback--2 {
  color: var(--clr-white);
}

.feedback--sub.feedback--3 {
  color: #48556a;
}

.feedback--sub.feedback--4 {
  color: var(--clr-white);
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 24px;
  font-family: 'Oswald', sans-serif;
  background: var(--clr-black);
  color: var(--clr-primary);
}

.footer-menu {
  display: flex;
  justify-content: start;
  gap: 16px;
}

.footer-menu a {
  color: var(--clr-white);
  text-decoration: none;
}

.footer-menu a:hover {
  color: var(--clr-primary);
}

@media only screen and (min-width: 480px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
  }
}

/* Button used to open the contact form - fixed at the bottom of the page */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: var(--clr-white);
}

.form-container h1 {
  color: var(--clr-black);
}
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .author__button:hover {
  opacity: 1;
  z-index: 100;
}