/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Raleway:wght@300;400;500;600;700&display=swap");
:root {
  --clr-primary: #cf9c46;
  --clr-secondary: #becf46;
  --clr-tertiary: #cf5846;
  --clr-accent-1: #94c60a;
  --clr-accent-2: #552049;
  --clr-hover-1: #755cde;
  --clr-hover-2: #f6a560;
  --clr-hover-3: #7a746e;
  --clr-white: #ffffff;
  --clr-black: #0e1111;
  --clr-light: #989697;
  --ff-body: "Raleway", sans-serif;
  --ff-button: "Oswald", sans-serif;
  --base-font-size: 16px;
  --base-spacing-unit: 40px/--base-font-size * 1rem;
  --unit: --base-spacing-unit;
  --base-border-radius: 5px;
  --grid-gutter: 40px/--base-font-size * 1rem;
  --container-pad: --unit;
  --container-max: 1520px;
  --container-small-max: 820px;
  --container-tiny-max: 376px;
  /* Major Third Typescale */
  --fs-1: 1rem;
  --fs-2: 1.25rem;
  --fs-3: 1.563rem;
  --fs-4: 1.953rem;
  --fs-5: 2.441rem;
  --fs-sm: 0.8rem;
  /* Paddings */
  --pd-container: 1rem;
  --gap-unit: 24px; }
  @media only screen and (min-width: 768px) {
    :root {
      /* Padding */
      --pd-container: 39px; } }
  @media only screen and (min-width: 976px) {
    :root {
      /* Padding */
      --pd-container: 70px 165px; } }

/* ------------------- */
/* Reset               */
/* ------------------- */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400; }

ul {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

/* ------------------- */
/* Typography               */
/* ------------------- */
html {
  scroll-behavior: smooth;
  font-size: 16px; }
  @media only screen and (min-width: 1440px) {
    html {
      font-size: 18px; } }

body {
  font-family: var(--ff-body);
  font-weight: var(--fs-400);
  color: var(--clr-black);
  background-color: var(--clr-white);
  line-height: 1.5;
  min-height: 100vh; }

/* Header */
.header {
  position: relative;
  min-height: 100vh; }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/forest/forest_c9irk5_c_scale,w_1978.webp");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    opacity: 0.9;
    z-index: -1; }
  .header > * {
    z-index: 10; }
  .header__logo {
    color: var(--clr-white);
    font-family: "Oswald", sans-serif;
    line-height: 1;
    font-size: var(--fs-2);
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .header__logo {
        text-align: left; } }
  .header__logo a {
    color: var(--clr-white);
    text-decoration: none; }
  .header__logo a span {
    color: var(--clr-primary); }
  .header-menu {
    font-family: "Oswald", sans-serif;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 768px) {
      .header-menu {
        justify-content: space-between; } }
  .header-container {
    padding: 30px 0; }
    @media only screen and (min-width: 768px) {
      .header-container {
        padding: 60px 0; } }
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    @media only screen and (min-width: 976px) {
      .header__content {
        flex-direction: row-reverse;
        justify-content: stretch; } }
  .header__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (min-width: 976px) {
      .header__text-box {
        flex: 0 1 auto;
        align-items: flex-start; } }
  .header__heading {
    font-size: var(--fs-3);
    line-height: 1;
    padding-top: var(--gap-unit);
    font-weight: bold;
    color: #fff; }
    @media only screen and (min-width: 768px) {
      .header__heading {
        font-size: 6vw;
        padding: 0;
        margin-top: var(--gap-unit); } }
    @media only screen and (min-width: 976px) {
      .header__heading {
        margin-top: 0; } }
  .header__subheading {
    padding: 18px 0;
    font-size: var(--fs-2);
    font-weight: 600;
    width: 90%;
    text-align: center;
    color: var(--clr-primary);
    border-top: 1px solid var(--clr-light);
    border-bottom: 1px solid var(--clr-light); }
    @media only screen and (min-width: 768px) {
      .header__subheading {
        font-size: 2vw; } }
    @media only screen and (min-width: 976px) {
      .header__subheading {
        text-align: left; } }
  .header__description {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: var(--fs-1);
    padding: 0 10%;
    gap: 16px;
    color: var(--clr-white); }
    @media only screen and (min-width: 976px) {
      .header__description {
        text-align: left;
        padding: 0 20% 0 0; } }
  .header__button {
    color: #fff;
    background: var(--clr-primary); }
    .header__button:hover {
      background: var(--clr-secondary); }
  @media only screen and (min-width: 768px) {
    .header__image-box {
      flex: 0 1 auto; } }
  @media only screen and (min-width: 768px) {
    .header__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2px; } }

.main-menu ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--gap-unit); }
  .main-menu ul li {
    color: var(--clr-white);
    font-size: var(--fs-1);
    list-style-type: none;
    cursor: pointer; }
  .main-menu ul li a {
    color: var(--clr-white);
    text-decoration: none; }
  .main-menu ul li a:hover {
    color: var(--clr-primary); }

@media only screen and (max-width: 480px) {
  .main-menu {
    display: none !important; } }

/* Main */
/* Section Book */
.book__text-box {
  display: flex;
  flex-direction: column;
  gap: var(--gap-unit); }

.book__subheading span {
  color: var(--clr-tertiary); }

/* Section Author */
.author {
  color: var(--clr-white);
  background-color: var(--clr-tertiary);
  border: none; }
  .author__text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .author__heading {
    color: var(--clr-white); }
  .author__subheading {
    color: var(--clr-secondary); }
  .author__button {
    background: var(--clr-secondary);
    color: var(--clr-black); }

/* Open Modal  */
#modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 470px;
  width: 100vw;
  max-width: 350px;
  border-radius: 5px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
  background-color: var(--clr-black);
  color: var(--clr-light);
  z-index: 1000; }
  #modal-inner {
    width: 290px;
    margin: 0 auto; }
  #modal-inner h2 {
    font-weight: bold;
    font-size: var(--fs-3);
    color: var(--clr-tertiary); }
  #modal-inner-loading {
    text-align: center; }

/* modal buttons */
.close-modal-btn-container {
  text-align: right;
  margin: 9px; }

.modal-close-btn {
  font-size: var(--fs-2);
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke; }
  .modal-close-btn:hover, .modal-close-btn:active {
    color: var(--clr-tertiary);
    cursor: pointer; }
  .modal-close-btn:disabled {
    color: whitesmoke;
    opacity: 0.2;
    cursor: not-allowed; }

.modal-choice-btns {
  margin-top: 10px;
  padding: 8px 0;
  display: flex;
  justify-content: flex-start; }

.modal-btn {
  padding: 10px var(--gap-unit);
  cursor: pointer;
  width: 100%;
  background-color: var(--clr-tertiary);
  color: var(--clr-white); }
  .modal-btn:hover {
    background-color: var(--clr-secondary);
    color: var(--clr-black); }

/* modal input */
#consent-form input, #consent-form textarea {
  margin-top: 10px;
  border: 1px solid #212529;
  padding: 10px;
  width: 100%;
  border-radius: 3px; }

#consent-form textarea {
  height: 120px; }

/* modal after submit */
.loading {
  width: 100%;
  margin-top: 10px; }

.modal-display-name {
  color: var(--clr-tertiary); }

.modal-text {
  line-height: 23px;
  margin-bottom: 0; }

/* Testimonials */
.previous-testimonials {
  background-color: var(--clr-white); }

.testimonial__heading {
  color: var(--clr-black); }
  .testimonial__heading__subheading {
    color: var(--clr-black); }
  .testimonial__heading__subheading span {
    color: var(--clr-tertiary); }

.row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-unit); }
  @media only screen and (min-width: 1440px) {
    .row {
      display: grid;
      gap: 30px; } }

.grid-item {
  display: flex;
  align-items: stretch;
  justify-content: flex-flex-start; }

@media only screen and (min-width: 976px) {
  .grid--one {
    grid-column: 1 / 3;
    grid-row: 1 / 2; }
  .grid--two {
    grid-column: 3 / 4;
    grid-row: 1 / 2; }
  .grid--five {
    grid-column: 4 / 5;
    grid-row: 1 / 3; }
  .grid--three {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
  .grid--four {
    grid-column: 2 / 4;
    grid-row: 2 / 3; } }

.testimonials {
  padding: 26px 32px 32px 32px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
  border-radius: 8px; }

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 0px; }
  .testimonial--1 {
    position: relative;
    background-color: var(--clr-white);
    color: var(--clr-black); }
    .testimonial--1::after {
      position: absolute;
      content: "";
      width: 104px;
      height: 102px;
      right: var(--gap-unit);
      top: 0px;
      background-image: url("/images/bg-pattern-quotation.svg");
      color: var(--clr-secondary);
      z-index: 1; }
    .testimonial--1__content {
      position: relative;
      z-index: 10; }
  .testimonial--2 {
    background-color: var(--clr-white);
    color: var(--clr-black); }
  .testimonial--3 {
    background-color: var(--clr-white);
    color: var(--clr-black); }
  .testimonial--4 {
    background-color: var(--clr-white);
    color: var(--clr-black); }
  .testimonial--5 {
    background-color: var(--clr-light);
    color: var(--clr-secondary-2); }

.person {
  z-index: 20;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-flex-start;
  gap: 1rem; }
  .person__image {
    border-radius: 9999px;
    border: 2px solid #a775f1; }
    .person__image.person--2__image {
      border: none; }
  .person__info h3 {
    font-weight: 700;
    line-height: 13px; }

.feedback--main {
  margin-top: var(--gap-unit); }

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-unit);
  font-family: "Oswald", sans-serif;
  background: var(--clr-black);
  color: var(--clr-primary); }
  @media only screen and (min-width: 480px) {
    .footer {
      flex-direction: row;
      justify-content: space-between; } }
  .footer-menu {
    display: flex;
    justify-content: flex-start;
    gap: var(--gap-unit);
    list-style-type: none;
    cursor: pointer; }
  .footer-menu a {
    color: var(--clr-white);
    text-decoration: none; }
  .footer-menu a:hover {
    color: var(--clr-primary); }

/* ------------------- */
/* Utility classes       */
/* ------------------- */
/* Containers */
.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: var(--pd-container); }

.content-container {
  margin: 0 auto; }
  @media only screen and (min-width: 1600px) {
    .content-container {
      max-width: 1440px; } }

/* Headings */
.primary-heading, .secondary-heading {
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase; }

.primary-heading {
  font-size: var(--fs-4); }

.secondary-heading {
  font-size: var(--fs-2); }

/* Buttons */
.button {
  padding: 8px 20px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #fff; }

/* Margin */
.mt-24 {
  margin-top: 24px; }
