:root {
  --clr-primary: #cf9c46;
  --clr-secondary: #becf46;
  --clr-tertiary: #cf5846;
  --clr-accent-1: #94c60a;
  --clr-accent-2: #552049;
  --clr-hover-1: #755cde;
  --clr-hover-2: #f6a560;
  --clr-hover-3: #7a746e;
  --clr-white: #ffffff;
  --clr-black: #0e1111;
  --clr-light: #989697;

  --ff-body: "Raleway", sans-serif;
  --ff-button: "Oswald", sans-serif;

  --base-font-size: 16px;

  // SPACING

  --base-spacing-unit        : 40px/--base-font-size * 1rem;
  --unit                     : --base-spacing-unit;
  --base-border-radius       : 5px;
  --grid-gutter              : 40px/--base-font-size * 1rem;
  --container-pad            : --unit; 
  --container-max            : 1520px;
  --container-small-max      : 820px;
  --container-tiny-max       : 376px;

  /* Major Third Typescale */
  --fs-1: 1rem;
  --fs-2: 1.25rem;
  --fs-3: 1.563rem;
  --fs-4: 1.953rem;
  --fs-5: 2.441rem;
  --fs-sm: 0.8rem;

  /* Paddings */
  --pd-container: 1rem;
  --gap-unit: 24px;

  @include respond(sm) {
    /* Padding */
    --pd-container: 39px;
  }

  // @include respond(md) {
	// 	/* Perfect Fifth Typescale */
  //   --fs-1: 1rem;
  //   --fs-2: 1.5rem;
  //   --fs-3: 2.25rem;
  //   --fs-4: 3.375rem;
  //   --fs-5: 5.063rem;
  //   --fs-sm: 0.667rem;
	// }

  @include respond(md) {
    /* Padding */
    --pd-container: 70px 165px;
  }
}